.fialová {
    text-align: center;    
    font-size:160%;
    background-color: blueviolet;
    color: aliceblue;
}
.modrá {
    text-align: center;    
    font-size:160%;
    background-color: blue;
}
.azurová {
    text-align: center;    
    font-size:160%;
    background-color: aqua;
}
.zelená {
    text-align: center;    
    font-size:160%;
    background-color: chartreuse;
}
.žlutá {
    text-align: center;    
    font-size:160%;
    background-color: gold;
}
.oranžová {
    text-align: center;    
    font-size:160%;
    background-color: darkorange;
}
.červená {
    text-align: center;    
    font-size:160%;
    background-color: crimson;
}
.vínová {
    text-align: center;    
    font-size:160%;
    background-color: maroon;
    color: aliceblue;
}
