head {
    font-family: 'Baskervile', serif;
}
body {
    background-color:powderblue;
    font-family: 'Baskervile', serif;
}
h1 {
    text-align: center;    
    color:rgb(0, 53, 102);
    font-size:60px;
}
h2 {
    text-align: center;
}
p {
    text-align: center;    
    font-size:140%;
    color:rgb(0, 53, 102);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}